<!-- Loop over each object in the projects array -->
{{#each twits as |twit| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/project/{{twit.id}}">{{twit.name}}</a>
    </h2>
    <p>Created by {{twit.user.name}} on {{format_date twit.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{twit.description}}
    </p>
  </div>
</div>
{{/each}}